img{
    width: 100%;
    height: auto;
    margin: 20px 0;
    border: solid 3px black;
    border-radius: 5px;

}

h1{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 2px;
    text-decoration: underline;
    font-size: 150px;
}

p{
    text-align: center;
    font-size: 24px;
}

h2  {
    text-align: center;
    margin-top: 30px;
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    margin: 5px;
    background-color: lightgrey;
}